{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <h1 class="first-title">Bonjour {{ user.getFancyName() }}</h1>
    <p><a href="{{ path('repondre') }}">Répondre au quiz</a></p>
    <p><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
{% endblock %}
